<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta property="og:locale" content="" />
    <meta property="og:title" content="" />
    <meta property="og:type" content="website" />
    <!-- 横1200px×縦630px -->
    <meta property="og:image" content="" />
    <!-- 80～90文字程度 -->
    <meta property="og:description" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta name="twitter:card" content="カードの種類" />
    <meta name="twitter:site" content="@ユーザー名" />
    <meta property="fb:app_id" content="App-ID" />
    <meta name="robots" content="noindex,nofollow" />
    <title>インデックスページ</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="./css/styles.css" />
  </head>
  <body>
    <h1 class="p-test">Index Page</h1>
    <a href="./about.html">About Pageへ</a>
    <img src="./images/icon.png" />
    <img src="./images/test.svg" />
    <script src="./js/main.js"></script>
  </body>
</html>
