@use "../global/" as g;

/*
  * base
*/

:root,
:root[theme="LIGHT"] {
  --c-main-color: black;
  --c-sub-color: white;
  --f-base-font-family: "meiryo, メイリオ, sans-serif";
  --f-second-font-family: "";
  --f-base-font-size: 16px;
  --f-base-line-height: 1.5;
}

html {
  // リキッドレイアウト
  // 1200px-20px 320px-12px 最小値12px 最大値20px の範囲で可変する
  font-size: clamp(
    12px,
    calc(12px + (20 - 12) / (1200 - 320) * (100vw - 320px)),
    20px
  );

  /* Fix Safari bug with viewport units in calc() */
  min-height: 0;
}

body {
  font-family: var(--f-base-font-family);
  font-size: var(--f-base-font-size);
  line-height: var(--f-base-line-height);
  background-color: var(--c-main-color);
  color: var(--c-sub-color);
  word-break: break-all;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

a {
  display: inline-block;
  color: inherit;
}
