/*!****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./node_modules/glob-import-loader/index.js!./src/scss/styles.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************/
@charset "UTF-8";
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  text-rendering: optimizespeed;
  min-height: 100vh;
  background-image: url("../images/thumbnail.jpg");
  background-size: cover;
  background-color: #000;
  color: #fff;
  font-size: 16px;
  line-height: 1.5;
  line-height: 1.5;
  font-family: "Meiryo", "メイリオ", sans-serif;
  word-break: break-all;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
/* ========================================================
* Base
======================================================== */
html {
  /* リキッドレイアウト対応する場合 px（固定値は消してOK） */
  font-size: clamp(
    12px,
    4.2666666667vw,
    16px
  );
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

a {
  display: inline-block;
  color: inherit;
}

/* Base
----------------------------------------- */
.l-container {
  max-width: 1240px;
}

.l-footer {
  text-align: center;
}

.l-header {
  text-align: center;
}

.l-main {
  text-align: center;
}

.c-test {
  background-color: black;
}

.p-test {
  color: blue;
  text-align: center;
}

.u-test {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: red;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
    transition-duration: 0.01ms !important;
  }
}

@media (min-width: 375px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  html {
    font-size: clamp(
      12px,
      1.2903225806vw,
      16px
    );
  }
}

@media (min-width: 1240px) {
  html {
    font-size: 16px;
  }
}

/*# sourceMappingURL=styles.css.map*/